body{
    background-color: rgb(255, 255, 255);
}

table{
    width: 80%;
    margin: 40px auto;
    background: rgb(255, 203, 233);
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 3px solid rgb(0, 0, 0);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(204,200,200);
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(165,161,161);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: #a5e9b5;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: 10;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #00ff26;
}

input[type="reset"]:hover{
    background: #00ff26;
}

button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#4b99d8 ;
}

